<!DOCTYPE html>
<html lang="en">
    <head>
        <title>eventoL</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
        <link rel="stylesheet" href="assets/app.css"/>
    </head>

    <body ng-app="eventoL" layout="column">
        <div>
            <header md-page-header>
                <div md-header-picture style="background-image:url(https://static.pexels.com/photos/68369/pexels-photo-68369.jpeg)"></div>
                <md-toolbar scroll ng-show="!showSearch" md-whiteframe="3">
                    <div class="md-toolbar-tools">
                        <span flex></span>
                        <md-button class="md-tools" aria-label="Search" ng-click="showSearch = !showSearch">
                            <md-icon aria-label="search" class="material-icons">search</md-icon>
                        </md-button>
                        <md-button class="md-tools" aria-label="Log In">
                            Log in
                        </md-button>
                    </div>
                </md-toolbar>

                <md-toolbar scroll ng-show="showSearch" md-whiteframe="3">
                    <div class="md-toolbar-tools">
                        <md-button class="md-tools" aria-label="Go Back" ng-click="showSearch = !showSearch">
                            <md-icon aria-label="keyboard_arrow_left" class="material-icons">keyboard_arrow_left</md-icon>
                        </md-button>
                        <md-autocomplete
                            md-no-cache="false"
                            md-selected-item="ctrl.selectedItem"
                            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                            md-search-text="ctrl.searchText"
                            md-selected-item-change="ctrl.selectedItemChange(item)"
                            md-items="item in ctrl.querySearch(ctrl.searchText)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="Start typing to search for events"
                            flex>
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <md-not-found>
                                No events matching "{{ctrl.searchText}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                        <md-button class="md-tools" aria-label="Log In">
                            Log in
                        </md-button>
                    </div>
                </md-toolbar>
            </header>
            <section ng-controller="EventsCtrl as eventsCtrl">
                <div class='md-padding' layout="row" layout-align="center" layout-wrap>
                    <md-card style="min-width: 400px; max-width: 400px" ng-repeat="event in eventsCtrl.getSomeEvents()">
                        <img ng-src="{{event.img}}" class="md-card-image"></img>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-subhead">{{event.date | date}}</span>
                                <span class="md-headline">{{event.title}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            {{event.place.name}}
                        </md-card-content>
                        <md-card-footer>
                            <md-chips ng-model="event.tags" md-removable="false" readonly="true">
                                <md-chip-template>
                                    <a href="#">{{$chip}}</a>
                                </md-chip-template>
                            </md-chips>
                        </md-card-footer>
                    </md-card>
                </div>
            </section>

            <script src="../bower_components/faker/build/build/faker.js"></script>
            <script src="./bower_components/angular/angular.js"></script>
            <script src="./bower_components/angular-sanitize/angular-sanitize.js"></script>
            <script src="./bower_components/angular-animate/angular-animate.js"></script>
            <script src="./bower_components/angular-aria/angular-aria.js"></script>
            <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
            <script src="./bower_components/ngmap/build/scripts/ng-map.min.js"></script>
            <script src="https://maps.google.com/maps/api/js?key=AIzaSyBDqBK3undYHvG5pWYBkESlkkX_c2GSLOw&libraries=placeses,visualization,drawing,geometry,places"></script>
            <script src="./app.js"></script>
            <script src="./event/eventService.js"></script>
        </body>
    </html>
